label 
{
	color: #303030;
}

.rat 
{
	color:lime;
	margin-left: 700px;
	font-weight:bold;
}

.background 
{
	background:DimGrey;
}

.text-container
{
	background:white;
	border: 5px solid DarkGrey;
}

.red {color: red;}
.yellow {color: yellow;}
.lime {color: lime;}

.back-red {background: red;}
.back-yellow {background: yellow;}
.back-green {background: lime;}

.low-offset {background-color: red;}
.med-offset {background-color: yellow;}
.high-offset {background-color: lime;}

